* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-image: url(assets/img/background.jpg);
  background-position: cover;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Nunito", sans-serif;
  background-size: cover;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  color: white;
}
html h2,
body h2 {
  margin: auto;
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}
html hr,
body hr {
  color: #df4949;
  width: 70%;
  margin: auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 0;
  visibility: hidden;
}

.logo {
  height: auto;
  width: 13%;
  float: left;
  padding-left: 3%;
  padding-top: 1%;
}

.logo-green {
  display: none;
}

.main-nav {
  list-style: none;
  float: right;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: white;
  margin-right: 2%;
  padding: 1%;
}
.main-nav li {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin-top: 50px;
}
.main-nav #ligueja {
  color: #faf4e8;
  background-color: #df4949;
  border: 3px solid #e47a7c;
  border-radius: 20px;
}
.main-nav #ligueja :hover {
  color: white;
}
.main-nav #ligueja ion-icon {
  font-size: 14px;
}
.main-nav a {
  text-decoration: none;
  padding: 8px;
  color: white;
}
.main-nav a:hover {
  color: #df4949;
  border-bottom: 1px solid white;
}
.main-nav i {
  font-size: 20px;
}
.main-nav .icon {
  display: none;
  color: #df4949;
  padding: 7px;
  background-color: white;
}
.main-nav .icon #menu-bars {
  font-size: 18px;
  font-weight: 700;
  padding: 4px;
}
.main-nav .icon #close {
  font-size: 20px;
  font-weight: 700;
  padding: 4px;
  display: none;
}
.main-nav .icon:hover {
  color: white;
  background-color: #df4949;
  border-bottom: none;
}

/*STICKY NAV*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-box-shadow: 0 1px 2px #d9d9d9;
  box-shadow: 0 1px 2px #d9d9d9;
  z-index: 2;
}
.sticky .logo {
  display: none;
}
.sticky .logo-green {
  display: inline-block;
  height: auto;
  width: 9%;
  padding-left: 3%;
  padding-top: 1%;
}
.sticky li {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin-top: 20px;
}
.sticky li a {
  color: #555;
  font-size: 13px;
  border-bottom: none;
}
.sticky li i {
  font-size: 13px;
}

/*MOBILE LINKS*/
.container-links {
  display: none;
  width: 100%;
  z-index: 2;
  -webkit-box-shadow: 0 5px 2px -2px #6b6b6b;
  box-shadow: 0 5px 2px -2px #6b6b6b;
}
.container-links ul li {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #df4949;
}
.container-links ul a {
  color: white;
  text-decoration: none;
  padding: 2px;
  font-size: 14px;
}
.container-links ul a:hover {
  background-color: white;
  color: #df4949;
}

/*HEADER SECTION*/
.vertical-nav {
  position: fixed;
  display: block;
  margin-left: 5%;
  margin-top: 0;
  z-index: 2;
}
.vertical-nav ul {
  list-style: none;
}
.vertical-nav ion-icon {
  margin: 2px;
  color: white;
  font-size: 30px;
  background-color: #df4949;
  padding: 4px;
}
.vertical-nav ion-icon:hover {
  color: #df4949;
  background-color: white;
  padding: 4px;
}

.container-title {
  font-size: 50px;
  margin-top: 15%;
  margin-left: 20%;
  margin-bottom: 200px;
}
.container-title a {
  text-decoration: none;
  color: white;
}

h2 {
  padding: 30px;
  margin-bottom: 20px;
}

.btn {
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: 60px;
  margin-right: 20px;
  display: inline-block;
  border-radius: 30px;
  -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.btn-full {
  background-color: #e47a7c;
  padding: 10px;
  border: 2px solid #e47a7c;
}

.btn-full:hover {
  background-color: #df4949;
}

.btn-ghost {
  background-color: rgba(250, 244, 232, 0.3);
  padding: 10px;
  border: 2px solid;
}

.btn-ghost:hover {
  background-color: #faf4e8;
  color: #df4949;
}

.box {
  width: 30%;
}

.container-welcome {
  background-color: #ccc3c3;
  color: black;
  padding: 40px;
}
.container-welcome .row {
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container-welcome ul {
  list-style: none;
}
.container-welcome ul li:nth-child(1) {
  color: white;
}
.container-welcome ul li:nth-child(2) {
  color: black;
}
.container-welcome ul li:nth-child(3) {
  margin-top: 15px;
  font-size: 19px;
}
.container-welcome p {
  font-weight: 300;
  padding: 3px;
}

/*INTRO PICS*/
#intro-pics {
  margin: 0;
  height: auto;
  background-color: white;
}
#intro-pics .container-intro-pics {
  margin-left: 15%;
  padding: 6% 0 20% 0;
}
#intro-pics .container-intro-pics ul {
  list-style: none;
}
#intro-pics .container-intro-pics ul li {
  margin: 0;
  overflow: hidden;
  width: 30%;
}
#intro-pics .container-intro-pics ul li img {
  opacity: 0.75;
  margin: 0;
  overflow: hidden;
}
#intro-pics .container-intro-pics ul li img:hover {
  opacity: 1;
}
#intro-pics .container-intro-pics ul .gallery-photo {
  width: 50%;
  margin-bottom: -5%;
}
#intro-pics .container-intro-pics ul .gallery-photo img {
  width: 100%;
  height: auto;
}

/*INFO SECTION*/
#info {
  background-color: white;
  height: auto;
  color: #df4949;
  margin: auto;
  padding: 50px 0 50px 0;
}
#info .container-info {
  margin-left: 15%;
  padding-bottom: 30%;
}
#info .container-info li {
  margin-left: 40px;
  margin-bottom: 20px;
  list-style: none;
}
#info .container-info li h5 {
  padding-bottom: 10px;
  border-bottom: 1px solid #e47a7c;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}
#info .container-info i {
  margin-right: 20px;
}
#info .container-info h4 {
  margin-left: 60px;
  padding: 10px;
  font-weight: 300;
  margin-bottom: 15px;
}
#info .container-info p {
  text-transform: none;
  padding-top: 10px;
  font-weight: 300;
  font-size: 14px;
}
#info .container-info .box {
  width: 25%;
}

/*GALLERY SECTION*/
#galeria {
  height: auto;
  color: #e47a7c;
  margin: 0;
  background-color: white;
}

.gallery-showcase {
  margin: 0;
  list-style: none;
  width: 100%;
  padding: 0;
}
.gallery-showcase li {
  list-style: none;
  display: block;
  float: left;
  overflow: hidden;
  margin: 0;
}
.gallery-showcase img {
  opacity: 0.8;
  height: auto;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
.gallery-showcase img:hover {
  opacity: 1;
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

.gallery-photo img {
  width: 100%;
  height: auto;
}

/*EVENTS LIST SECTION*/
#eventos {
  height: auto;
  background-color: white;
  color: #df4949;
  padding: 50px 0 20px 0;
}
#eventos .container-eventos {
  margin-left: 15%;
  padding: 40px;
}
#eventos .container-eventos .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#eventos .container-eventos .events-list li {
  list-style: none;
  font-size: 16px;
  padding: 16px;
  font-weight: 300;
}
#eventos .container-eventos .events-list li i {
  margin-right: 10px;
}
#eventos .container-eventos .box {
  width: 20%;
}
#eventos #events-mobile {
  margin-left: 15%;
  display: flex;
}
#eventos #events-mobile li {
  list-style: none;
  font-size: 14px;
  padding: 16px;
  font-weight: 300;
}
#eventos #events-mobile li i {
  margin-right: 10px;
}
#eventos #events-mobile .box {
  width: 50%;
}

/*DRINKS SCROLL*/
#drinks {
  height: 450px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.349)), to(rgba(255, 255, 255, 0.293))), url(assets/img/drinks.jpeg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.349), rgba(255, 255, 255, 0.293)), url(assets/img/drinks.jpeg);
  background-position: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/*JP BLUEPRINT*/
#blueprint {
  height: 700px;
  background-color: white;
  background-attachment: fixed;
}
#blueprint h2 {
  color: #df4949;
}

/*GALLERY2 SECTION*/
#gallery2 {
  height: auto;
  background-color: white;
  color: #e47a7c;
  margin: 0;
}

.gallery-showcase {
  margin: 0;
  list-style: none;
  padding: 0;
  width: 100%;
}
.gallery-showcase li {
  list-style: none;
  display: block;
  float: left;
  overflow: hidden;
  width: 25%;
}
.gallery-showcase img {
  opacity: 0.8;
  height: auto;
  width: 100%;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
.gallery-showcase img:hover {
  opacity: 1;
}

.gallery-photo {
  width: 50%;
  margin-bottom: -5%;
}
.gallery-photo img {
  width: 100%;
  height: auto;
}
.gallery-photo #photo-pav {
  height: auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.container-last {
  background-color: #ccc3c3;
  color: black;
  padding: 40px;
}

/*PLANOS SECTION*/
#plans {
  background-color: #faf4e8;
  height: 650px;
  color: #df4949;
  padding: 50px 0 20px 0;
}
#plans .container-plans {
  margin-left: 11%;
}
#plans .container-plans .box {
  width: 80%;
  top: 4%;
  margin-left: 5%;
  margin-top: 4%;
  font-weight: 300;
  font-size: 15px;
}
#plans .container-plans .box a {
  font-weight: bold;
  text-decoration: none;
  color: #df4949;
}
#plans .container-plans .box a:hover {
  text-decoration: underline;
}
#plans .container-plans ul {
  list-style: none;
}
#plans .container-plans ul li {
  padding: 10px;
  text-align: center;
  font-size: 15px;
}
#plans .container-plans i {
  color: #5ee792;
  font-size: 30px;
  padding: 4px;
}
#plans .container-plans .box-plan {
  width: 20%;
  margin: 55px 30px 0 0;
  -webkit-box-shadow: 8px 10px 25px #d9d9d9;
  box-shadow: 8px 10px 25px #d9d9d9;
  background-color: white;
  border: 1px solid #b1acac;
  border-radius: 20px;
  padding: 16px;
  -webkit-box-shadow: #df4949;
  box-shadow: #df4949;
}
#plans .container-plans .box-plan:hover {
  -webkit-box-shadow: 4px 8px 15px #d9d9d9;
  box-shadow: 4px 8px 15px #d9d9d9;
  zoom: 1.025;
}

/*CAKES*/
#cakes {
  height: 500px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.349)), to(rgba(255, 255, 255, 0.293))), url(assets/img/cakes.jpeg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.349), rgba(255, 255, 255, 0.293)), url(assets/img/cakes.jpeg);
  background-position: cover;
  background-attachment: fixed;
}

/*RESERVATIONS SECTION*/
#reservas {
  background-color: white;
  height: 1200px;
}
#reservas .container-reservas {
  margin: auto;
  padding: 10px;
  color: #e47a7c;
  width: 70%;
}
#reservas .container-reservas h2 {
  color: #df4949;
  font-weight: 400;
  border-bottom: none;
}
#reservas .container-reservas form {
  color: #df4949;
  font-size: 15px;
}
#reservas .container-reservas form label {
  margin-left: 60px;
}
#reservas .container-reservas form input {
  width: 60%;
  padding: 14px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #000;
  font-family: sans-serif;
  font-size: 12px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#reservas .container-reservas form textarea {
  width: 70%;
  height: 200px;
  padding: 14px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #000;
  font-family: sans-serif;
  font-size: 12px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#reservas .container-reservas form .label-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 13px;
  padding: 4px;
  margin: 0;
}
#reservas .container-reservas form .label-container input[type=checkbox] {
  margin-right: 15px;
}
#reservas .container-reservas form #radio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-bottom: 10px;
}
#reservas .container-reservas form #radio-buttons input[type=radio] {
  margin-right: 15px;
}
#reservas .container-reservas form input[type=date] {
  width: 35%;
}
#reservas .container-reservas form input[type=submit] {
  font-size: 15px;
  text-align: center;
  border: 2px solid;
  border-radius: 15px;
  width: 19%;
}
#reservas .container-reservas form input[type=submit]:hover {
  border-color: white;
  background-color: #5ee792;
  color: white;
}
#reservas .container-reservas form .error {
  color: red;
  font-weight: 700px;
  font-style: italic;
  font-size: 15px;
  padding: 4px;
}

/*FOOTER*/
footer {
  background-color: rgba(54, 53, 50, 0.95);
  height: auto;
}
footer #official-logo {
  height: auto;
  width: 75%;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer .row p {
  font-size: 15px;
  text-align: center;
  padding: 15px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #df4949;
}
footer .socialmedia-list {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
footer .socialmedia-list ion-icon {
  font-size: 60px;
  padding: 20px;
}
footer .socialmedia-list ion-icon:hover {
  border-bottom: none;
}
footer .contact-list {
  list-style: none;
  display: block;
  text-align: left;
}
footer .contact-list i, footer .contact-list ion-icon {
  padding: 10px;
}
footer .contact-list li {
  text-align: left;
}
footer #map {
  top: 20px;
  width: 98%;
  height: 300px;
}
footer .row:nth-of-type(2) {
  display: inline-block;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
